<p style="color: green"><%= notice %></p>

<h1>Bloggers</h1>
<%= link_to "New blogger", new_blogger_path %>
<hr>

<div id="bloggers">
  <% @bloggers.each do |blogger| %>
    <%= render blogger %>
    <p>
    
    </p>
  <% end %>
</div>


