<h1>Contactanos</h1>
<hr>
<form class="row">
<div class="container text-center">
  <div class="row">
    <div class="col">
          <label for="firstname">
      First name
      <input class="form-control-plaintext border border-primary" type="text" id="firstname" name="firstname" placeholder="First name" required>
    </label>
    </div>
    <div class="col">
      <label for="lastname">
      Last name
      <input class="form-control-plaintext border border-primary" type="text" id="lastname" name="lastname" placeholder="Last name" required>
    </label>
    </div>
    <div class="col">
       <label for="email">Email address</label>
  <input class="form-control-plaintext border border-primary" type="email" id="email" name="email" placeholder="Email address" required>
  <small>We'll never share your email with anyone else.</small>
    </div>
  </div>
</div>
<!-- Button -->
  <button class="bt border border-primary" type="submit">Submit</button>
</form>
